<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>
      Hare Krushn Hare Krushn, Krushn Krushn Hare Hare, Hare Ram Hare Ram, Ram
      Ram Hare Hare.
    </h2>
    <br />
    <button>Way to Golok dham</button>
  </body>
</html>
